// imports
@import "./partials/variables.scss";
@import "./partials/nav.scss";
@import "./partials/layout.scss";
@import "./partials/home.scss";


// Global styles
*{
	margin: 0;
	padding: 0;
}
.page {
		font-family: 'Poppins', sans-serif;
		width: 100%;
	}






